<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anf test</title>
</head>
<body>
   <div id="app">
      
   

         <CENTER>
         <TABLE BORDER>
         
         <TR>
            <TD>Nombre:</TD>
            <TD> <INPUT TYPE="text" NAME="nombre" SIZE=18 MAXLENGTH=18 v-model="name" > Edad :
                  <INPUT TYPE="text" NAME="edad" SIZE=8 MAXLENGTH=8 v-model="age"> Sexo: 
                  <select NAME="sexo" v-model="sex">

                        <option>Famele</option>
                        
                        <option selected>Male</option>       
                        
                        
                        </select>
                  
                  </TD>
         
         <TR>
            <TD>Apellidos:</TD>
            <TD> <INPUT TYPE="text" NAME="apellidos" SIZE=48 MAXLENGTH=48 v-model="surname"></TD>
         
         <TR>
            <TD>Correo electronico:</TD>
            <TD> <INPUT TYPE="text" NAME="domicilio" SIZE=48 MAXLENGTH=48 v-model="email"></TD>
         
                     
         </TABLE>
         <br>
         <button v-on:click="addUser">Add User</button>
<br>
        
         </CENTER>
         
         <div align='left'>
         <TABLE BORDER>
         
            <TR>
               <TD>Name </TD>
               <TD>Surname </TD>
               <TD>Age </TD>
               <TD>Sex </TD>
               <TD>Email </TD>

             <TR v-for="user of userList">  
               <TD> <INPUT TYPE="text" NAME="nombre" SIZE=8 MAXLENGTH=10 v-model="user.name" readonly> </TD>
                  <TD> <INPUT TYPE="text" NAME="appellidos" SIZE=15 MAXLENGTH=20 v-model="user.surname" readonly> </TD>
                     <TD> <INPUT TYPE="text" NAME="nombre" SIZE=8 MAXLENGTH=10 v-model="user.age" readonly> </TD>
                        <TD> <INPUT TYPE="text" NAME="nombre" SIZE=8 MAXLENGTH=10 v-model="user.sex" readonly> </TD>
                           <TD> <INPUT TYPE="text" NAME="nombre" SIZE=20 MAXLENGTH=25 v-model="user.email" readonly> </TD>
                    
          </TABLE>  
                   
         </div>

         <div align='right'>
            <TABLE BORDER>
            
               <TR>
                  <TD>Avg age </TD>
                  <TD>Tot. Male </TD>
                  <TD>Tot. Famele </TD>
                  <TD>Young Person </TD>
                  <TD>Old Person </TD>
   
                <TR>  
                  <TD> {{totAge}}</TD>
                  <TD> {{contPerMale}} </TD>
                  <TD> {{contPerFamele}} </TD>
                  <TD> {{younguestPerson}} </TD>
                  <TD> {{olderPerson}} </TD>
                     
                     
                       
             </TABLE>  
                      
            </div>
      
    </div>  

   <script src="https://cdn.jsdelivr.net/npm/vue@3.2.47/dist/vue.global.min.js"></script>
  <script src="test.js"></script>
</body>
</html>